.tab-tag {
  margin: 20px;
  font-size: 18px;
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  color: black;
  background: gainsboro;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  font-weight: 700;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tab-light {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 24px;
  left: 15px;
  background-color: #fbc02d;
  border-radius: 100%;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tab-active-light {
  background-color: #fbc02d;
  left: 0;
  height: 100%;
  width: 5px;
  top: 0;
  border-radius: 0;
}
.tab-content-box {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tab-content-big-box {
  width: 40%;
  border: 1px solid black;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.tab-content {
  transform: translateX(50px);
  position: absolute;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.basic-box {
  display: flex;
  flex-direction: column;
}
.basic-input {
  margin: 10px;
  height: 33px;
  display: inline-block;
  /* width: 300px;
  min-width: 300px; */
  position: relative;
}
.basic-input input {
  height: 23px;
  border: 1px solid #ddd;
  padding-left: 10px;
  font-size: 13px;
  border-radius: 3px;
  width: 140px;
}
.basic-input label {
  width: 60px;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  text-align: right;
}
