.login-layout {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.login-title {
  display: flex;
  /* border-bottom: 1px solid black; */
}
.title-margin {
  padding: 10px;
}
.login-cursor {
  cursor: pointer;
}

.input-block {
  display: block;
  margin: 5px;
}
